<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<dict>
			<key>picpath</key>
			<string>http://jdwlwm2m.com/excel/appImg/equipment_logo_balance.png</string>
			<key>menuname</key>
			<string>余额充值</string>
			<key>funcCode</key>
			<string>balanceRecharge</string>
			<key>funcNo</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>picpath</key>
			<string>http://jdwlwm2m.com/excel/appImg/equipment_logo_flow.png</string>
			<key>menuname</key>
			<string>流量充值</string>
			<key>funcCode</key>
			<string>flowRecharge</string>
			<key>funcNo</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>picpath</key>
			<string>http://jdwlwm2m.com/excel/appImg/equipment_logo_control.png</string>
			<key>menuname</key>
			<string>远程控制</string>
			<key>funcCode</key>
			<string>remoteControl</string>
			<key>funcNo</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>picpath</key>
			<string>http://jdwlwm2m.com/excel/appImg/equipment_logo_netchange.png</string>
			<key>menuname</key>
			<string>网络切换</string>
			<key>funcCode</key>
			<string>netChange</string>
			<key>funcNo</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>picpath</key>
			<string>http://jdwlwm2m.com/excel/appImg/equipment_logo_realname.png</string>
			<key>menuname</key>
			<string>实名认证</string>
			<key>funcCode</key>
			<string>realNameAuth</string>
			<key>funcNo</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>picpath</key>
			<string>http://jdwlwm2m.com/excel/appImg/equipment_logo_record.png</string>
			<key>menuname</key>
			<string>交易记录</string>
			<key>funcCode</key>
			<string>transactionRecord</string>
			<key>funcNo</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>picpath</key>
			<string>http://jdwlwm2m.com/excel/appImg/home_icon_rubbish.png</string>
			<key>menuname</key>
			<string>电子垃圾</string>
			<key>funcCode</key>
			<string>electronicWaste</string>
			<key>funcNo</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
